<div id="footer">
    <div class="footer__logo-copyright">
        <p>
            Made with ❤ by
            <a href="http://t.me/angelina_zhegzdrin">&#64;Linophidean</a>
            <!-- <a href="http://github.com/spinozanilast">&#64;Spinozanilast</a> -->
        </p>
        <p>Copyright © 2024 All Rights Reserved.</p>
    </div>
    <img src="assets/svg/only-logo-dark.svg" alt="logo" class="logo-svg" />

    <div class="footer__links">
        <div class="refs-container">
            <p>Исследуй:</p>
            <a routerLink="/about">О театре</a>
            <a routerLink="/halls">Залы</a>
            <a routerLink="/events">События</a>
        </div>
    </div>
</div>
