<div class="modal-overlay">
    <buy-ticket-dialog-legend
        [uniqueTypeDefinitions]="getSeatTypeDefinitionsByExistingTypes()"
    ></buy-ticket-dialog-legend>

    <main class="modal-main">
        <div class="buy-page-switcher">
            <div>
                <label>
                    <input
                        type="radio"
                        name="radio"
                        [checked]="step === DialogStep.selectSeats"
                        (change)="onChangeStep(DialogStep.selectSeats)"
                    />
                    <span>Выбрать места</span>
                </label>
                <label>
                    <input
                        type="radio"
                        name="radio"
                        [checked]="step === DialogStep.buyerData"
                        (change)="onChangeStep(DialogStep.buyerData)"
                        [disabled]="stepIdx < 1"
                    />
                    <span>Данные покупателя</span>
                </label>
                <label>
                    <input
                        type="radio"
                        name="radio"
                        disabled
                        [checked]="step === DialogStep.payment"
                        (change)="onChangeStep(DialogStep.payment)"
                        [disabled]="stepIdx < 2"
                    />
                    <span>Оплата</span>
                </label>
            </div>
        </div>
        <div class="modal-content" (click)="$event.stopPropagation()">
            @if (step === DialogStep.selectSeats) {
                <div class="dialog-header">
                    <div class="dialog-title">
                        Покупка билета на
                        <span class="event-title">{{ event.name }}</span>
                    </div>
                    <div class="dialog-close" (click)="onCancel()"></div>
                </div>

                <div class="dialog-body">
                    <div class="dialog-body__content">
                        <seat-selector
                            [event]="event"
                            [groupedInSectorsSeats]="groupedInSectorsSeats"
                            [hallScheme]="hallScheme"
                            (seatSelected)="onChooseSeat($event)"
                        ></seat-selector>
                    </div>
                </div>
            } @else if (step === DialogStep.buyerData) {
                <div class="dialog-header">
                    <div class="dialog-title">Ввод данных покупателя</div>
                    <div class="dialog-close" (click)="onCancel()"></div>
                </div>

                <div class="dialog-body">
                    <div class="dialog-body__content">
                        <user-data-input
                            (submit)="onUserDataSubmit($event)"
                        ></user-data-input>
                    </div>
                </div>
            }
        </div>
        <div class="dialog-actions-container">
            <div class="buy-info-container">
                <button
                    type="button"
                    class="dialog-action-button"
                    (click)="onChangeByStep(true)"
                    [style.box.shadow]="
                        this.stepIdx === 0 ? 'inset 0 0 50px var(--accent)' : ''
                    "
                    [disabled]="this.occupiedSeats.length === 0"
                >
                    @if (this.step === DialogStep.payment) {
                        Купить билет
                        <div class="icon">
                            <span>
                                <svg
                                    width="800px"
                                    height="800px"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M22 8.5C22 12.09 19.09 15 15.5 15C15.33 15 15.15 14.99 14.98 14.98C14.73 11.81 12.19 9.26999 9.01999 9.01999C9.00999 8.84999 9 8.67 9 8.5C9 4.91 11.91 2 15.5 2C19.09 2 22 4.91 22 8.5Z"
                                        stroke="#292D32"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M15 15.5C15 19.09 12.09 22 8.5 22C4.91 22 2 19.09 2 15.5C2 11.91 4.91 9 8.5 9C8.67 9 8.84999 9.00999 9.01999 9.01999C12.19 9.26999 14.73 11.81 14.98 14.98C14.99 15.15 15 15.33 15 15.5Z"
                                        stroke="#292D32"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                    <path
                                        d="M7.62 14.62L8.5 13L9.38 14.62L11 15.5L9.38 16.38L8.5 18L7.62 16.38L6 15.5L7.62 14.62Z"
                                        stroke="#292D32"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            </span>
                        </div>
                    } @else {
                        Продолжить
                    }
                </button>
            </div>
            <button
                type="button"
                class="dialog-action-button"
                (click)="onCancel()"
            >
                Отмена
            </button>
        </div>
    </main>
    @if (occupiedSeats.length !== 0) {
        <div
            @appearAnimation
            class="currently-occupied-seats darker-background"
        >
            <div class="occupied-seats-wrapper">
                <div class="dialog-header">
                    <div class="dialog-title">Места для бронирования:</div>
                </div>
                <div class="occupied-seats-container">
                    @for (
                        occupiedSeat of occupiedSeats;
                        track occupiedSeat.seat.seatId;
                        let idx = $index
                    ) {
                        <div class="occupied-seat-container">
                            <div
                                [className]="
                                    getSeatClassByType(
                                        occupiedSeat.seat.seatTypeMultiplier
                                            .seatType
                                    ).class
                                "
                                [ngClass]="{ seat: true }"
                            >
                                <p class="occupid-seat-number">
                                    {{ occupiedSeat.seat.seatNumber }}
                                </p>
                            </div>
                            <div class="occupied-seat-location">
                                <p class="occupied-seat-sector">
                                    Сектор: {{ occupiedSeat.sectorNumber }}
                                </p>
                                <p class="occupied-seat-row">
                                    Ряд: {{ occupiedSeat.rowNumber }}
                                </p>
                            </div>
                        </div>
                        @if (idx !== occupiedSeats.length - 1) {
                            +
                        }
                    }
                </div>
            </div>
            <hr />
            <h2><span>Кол-во мест: </span>{{ occupiedSeats.length }}</h2>
            <h2>
                <span>Стоимость: </span>
                {{
                    mapOccupiedSeatsInfoToSeatContracts()
                        | fullCostPipe: event.price
                }}
            </h2>
        </div>
    }
</div>
